*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

a{
    text-decoration:none;
}

.hamburger {
    position: fixed;
    top: 2rem;
    right: 3rem;
    padding: .5rem;
    cursor: pointer;
    z-index: 2000;
}

.hamburger i{
    font-size: 3rem;
    background: linear-gradient(to right, #e5cee8 0%, #bbb7c6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-times {
    display: none;
}
header::before{
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.9);
    transform: translate(-100%, -100%);
    opacity: 0;
    z-index: 999;
    transition: opacity .6s, transform .2s .6s;
}

.sidebar {
    background-color: #855984;
    position: fixed;
    top: 0;
    left: 0;
    width: 28rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.6rem;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform .6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.nav-list {
    list-style: none;
}

.nav-item {
    position: relative;
}

.nav-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, #e5cee8 0%, #bbb7c6 100%);
}

.nav-link {
    display: block;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, .4);
    text-transform: uppercase;
    line-height: 8rem;
    letter-spacing: 3px;
    transition: color -6s;
}

.nav-link:hover {
    color: rgba(255, 255, 255, .8);
}

.nav-link.current {
    color:#fff;
}

.nav-link i {
    font-size: 2rem;
    margin-right: 1rem;
}

.social-media {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.icon-link {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    display: flex;
    transition: background-color .6s;
}

.icon-link:hover {
    background-color: rgba(0,0,0,.3);
}

.icon-link i{
    margin: auto;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, .4);
    transition: color .6s;
}

.icon-link i{
    color: rgba(255, 255, 255, .8);
}

main {
    perspective: 100rem;
}

.zoom-content{
    transform-style: preserve-3d;
    transition: transform .6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

section {
    width: 100%;
    height: 100vh;
    background-color: black;
}

#box {
    margin: 0;
    padding: 0;
    background: url("img/hair.jpg") no-repeat;
    background-size:100% 100%;
    font-family: sans-serif;
}

.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 200px;
    background: #ffffff;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
}

.user{
    display: block;
    margin: 0 auto 20px;
}

.title {
    margin: 0;
    padding: 0 0 20px;
    color: #262626;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 3px;
}

.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"],
.loginBox input[type="date"],
.loginBox input[type="file"],
.loginBox input[type="email"]{
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #262626;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}

.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus,
.loginBox input[type="date"]:focus,
.loginBox input[type="file"],
.loginBox input[type="email"]:focus {
    border-bottom: 2px solid purple;
}

.inputBox{
    position: relative;
}

.inputBox span {
    position: absolute;
    top: 10px;
    color: #262626;
}

.loginBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background: purple;
    border-right: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.loginBox a {
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
}

#hero {
    position: relative;
}

#hero video {
    height: 100vh;
    width: 100%;
    /*noinspection CssInvalidPropertyValue*/
    background-position: absolute;
    z-index: 10;
    font-family: 'object-fit: cover;', serif;
}

#hero .content{
    background: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
}

#hero .container h1 {
    color: #ffffff;
    font-weight: 600;
}

.active .fa-times {
    display: block;
}

.active .fa-bars {
    display: none;
}

header.active::before {
    transform: translate(0,0);
    opacity: 1;
    transition: opacity .6s;
}

.active .sidebar {
    transform: translateX(0);
}

.active .zoom-content{
    transform: translate3d(0, 0, -25rem);
}

@media screen and (max-width: 450px){
    .nav-link{
        line-height: 5rem;
    }
    .hamburger{
        top: 1.5rem;
        right: 1.5rem;
    }
}

@media screen and (max-width: 450px){
    .sidebar{
        width: 25rem;
    }
}

